In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
import pandas as pd

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/04 14:56:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

**Q1**

In [3]:
spark.version

'3.3.2'

**Q2**

In [4]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

In [5]:
#!gunzip -k fhv_tripdata_2019-10.csv.gz

In [6]:
!ls -lh fhv_tripdata_2019-10.csv

-rw-rw-r-- 1 okibaba okibaba 115M Dec  2  2022 fhv_tripdata_2019-10.csv

In [7]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [8]:
import pandas as pd

In [9]:
df_pandas = pd.read_csv('head.csv')

In [10]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [11]:
df_pandas.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264.0,264.0,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264.0,264.0,NaN,B00014

In [12]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [13]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [19]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [20]:
df_data = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [22]:
df_data = df_data.repartition(6)
df_data.write.parquet('data/pq/fhv/2019/10/')

**Q3**

In [23]:
from pyspark.sql import functions as F

In [25]:
df_data \
    .withColumn('pickup_date', F.to_date(df_data.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

**Q4**

In [26]:
df_data.registerTempTable('fhv_2019_10')

/home/okibaba/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [27]:
df_data.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [30]:
df_data \
    .withColumn('duration', df_data.dropOff_datetime.cast('long')/3600 - df_data.pickup_datetime.cast('long')/3600) \
    .withColumn('pickup_date', F.to_date(df_data.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-----------------+
|pickup_date|    max(duration)|
+-----------+-----------------+
| 2019-10-28|         631152.5|
| 2019-10-11|         631152.5|
| 2019-10-31|87672.44083333336|
| 2019-10-01|70128.02805555554|
| 2019-10-17|           8794.0|
+-----------+-----------------+

**Q6**

In [31]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 15:56:59--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T155700Z&X-Amz-Expires=300&X-Amz-Signature=6a02ff1c29c24d5dcf630324a682e2a6a2910eb9a5a60c5f1c53bce37a502512&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 15:57:00--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T155700Z&X-Amz-Expires=300&X-Amz-Signature=6a02ff1c29c24d5dcf630324a682e2a6a2910eb9a5a60c5f1c53bce37a502512&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-03-04 15:57:00 (16.6 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [32]:
df_zone_data = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [33]:
df_zone_data.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [35]:
df_zone_data.write.parquet('zones2')

In [36]:
!ls -lh

total 133M
-rw-rw-r-- 1 okibaba okibaba 1.3K Mar  1 10:28 Untitled.ipynb
drwxr-xr-x 3 okibaba okibaba 4.0K Mar  4 15:29 data
-rw-rw-r-- 1 okibaba okibaba  132 Mar  1 10:20 exports.txt
-rw-rw-r-- 1 okibaba okibaba 115M Dec  2  2022 fhv_tripdata_2019-10.csv
-rw-rw-r-- 1 okibaba okibaba  19M Dec  2  2022 fhv_tripdata_2019-10.csv.gz
-rw-rw-r-- 1 okibaba okibaba  62K Mar  4 14:56 head.csv
-rw-rw-r-- 1 okibaba okibaba  17K Mar  4 15:57 homework-5.ipynb
-rw-rw-r-- 1 okibaba okibaba  17K Mar  4 15:43 homework.ipynb
-rw-rw-r-- 1 okibaba okibaba  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 okibaba okibaba  13K Jul 19  2022 taxi_zone_lookup.csv
-rw-rw-r-- 1 okibaba okibaba 6.6K Mar  1 10:44 week5-spark-notes.ipynb
drwxr-xr-x 2 okibaba okibaba 4.0K Mar  1 10:30 zones
drwxr-xr-x 2 okibaba okibaba 4.0K Mar  4 15:58 zones2

In [37]:
df_zones = spark.read.parquet('zones2')

In [38]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [39]:
df_data.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [48]:
df_zones.registerTempTable('zones')

In [60]:
spark.sql("""
SELECT
    PUlocationID, LocationID,Borough,Zone,
    COUNT(1) as counter
FROM 
    fhv_2019_10 fhv LEFT JOIN zones zn ON fhv.PUlocationID= zn.LocationID
                      
GROUP BY 
    PUlocationID, LocationID,Borough,Zone
ORDER BY
    counter ASC
LIMIT 5;
""").show()

+------------+----------+---------+--------------------+-------+
|PUlocationID|LocationID|  Borough|                Zone|counter|
+------------+----------+---------+--------------------+-------+
|           2|         2|   Queens|         Jamaica Bay|      1|
|         105|       105|Manhattan|Governor's Island...|      2|
|         111|       111| Brooklyn| Green-Wood Cemetery|      5|
|          30|        30|   Queens|       Broad Channel|      8|
|         120|       120|Manhattan|     Highbridge Park|     14|
+------------+----------+---------+--------------------+-------+